body {
  background-image: url(./assets/rpsbg.jpg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column  ;
}

.banner img {
 width: 100%;
 margin-top: 8%;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#scoreBoard {
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5rem;
}

.weapon button {
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

#restart {
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

button:hover{
  cursor: pointer;
}

button:active {
  background-color: black;
  color: blanchedalmond;
  transform: translateY(4px);

}

button:focus {
  outline: none;
}

button {
  transition: transform 0.3s;
}

#game-over {
  text-align: center; /* Center the text horizontally */
  /* position: absolute; Position it absolutely */
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Move the text back by 50% of its own width and height */
  font-size: 3rem; /* Adjust font size as needed */
}

/* Hide the game-over element by default */
.hidden {
  display: none;
}
